.header {
	padding: 40px 0;
	min-height: 60px;

	.header__navigation {
		display: flex;
		align-items: center;
	}

	.header__nav-list {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-right: 5%;
		font-weight: 600;
	}

	.header__list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 25%;
	}

	%header__link--before {
		display: block;
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 2px;
		width: 75%;
		background: $red-color;
		bottom: 0;
	}

	.header__list-item--small-screen {
		display: none;
	}

	.header__link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 6px 25px;
		position: relative;
		color: $secondary-color;

		&:hover::before {
			@extend %header__link--before;
		}

		&:active {
			transform: scale(.99);
		}
	}

	.header__link--border-rigth {
		border-right: 1px solid $silver-light-color;
	}

	.header__link--selected::before {
		@extend %header__link--before;
	}
}

.main {
	background: #50f;
	flex: 1;

	.main__section {
		background: #fdfd04;
		min-width: 100%;
		min-height: 300px;
	}
}

.footer {
	min-height: 80px;
	background: #6ad;
}

.logo {

	&:hover {
		filter: brightness(.9);
	}

	&:active {
		transform: scale(.99);
	}

	.logo__img {
		width: 92px;
		height: 60px;
	}
}

.phone-icon {
	margin-right: 8px;
}

.burger-btn {
	width: 60px;
	height: 60px;
	font-size: 2rem;
	background: $primary-color;
	cursor: pointer;

	i {
		vertical-align: middle;
	}

	&:hover {
		filter: brightness(.9);
	}

	&:active {
		transform: scale(.99);
	}
}

@media (max-width: 1240px) {
	.container {
		padding: 0 1%;
	}
}

@media (max-width: 920px) {

	.header {
		.header__list-item--small-screen {
			display: flex;
			flex-direction: row-reverse;
		}

		.header__list-item--big-screen {
			display: none;
		}

		.logo+.header__link {
			display: none;
		}

		.header__nav-list {
			padding: 0;
		}
	}

}