%link-style {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 25px;
	position: relative;

	&:active {
		transform: scale(.99);
	}
}

%link-underline {
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	width: 75%;
	background: $red-color;
	bottom: 0;
}

%btn-style {
	&:active {
		transform: scale(.99);
	}

	&:hover {
		filter: brightness(.95);
	}
}

.header {
	padding: 40px 0;
	min-height: 60px;

	.header__navigation {
		display: flex;
		align-items: center;
	}

	.header__nav-list {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-right: 5%;
		font-weight: 600;
	}

	.header__list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 65px;
		min-width: 25%;
		white-space: nowrap;
	}

	.header__list-item--small-screen {
		display: none;
	}

	.header__link {
		@extend %link-style;
		color: $secondary-color;

		&:hover::before {
			@extend %link-underline;
		}
	}

	.header__link--border-rigth {
		border-right: 1px solid $silver-light-color;
	}

	.header__link--selected::before {
		@extend %link-underline;
	}
}

.main {
	flex: 1;

	.main__section {}
}

.footer {
	min-height: 80px;
	background: #6ad;
}

.logo {

	&:hover {
		filter: brightness(.9);
	}

	&:active {
		transform: scale(.99);
	}

	.logo__img {
		width: 92px;
		height: 60px;
	}
}

.phone-icon {
	margin-right: 8px;
}

.burger {
	position: relative;
	margin: 0 auto;

	.burger__btn {
		width: 60px;
		height: 60px;
		font-size: 2rem;
		background: $primary-color;
		cursor: pointer;

		i {
			vertical-align: middle;
		}

		&:hover {
			filter: brightness(.9);
		}

		&:active {
			transform: scale(.99);
		}
	}

	.burger__menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		background: #FFFFFF;
		border: 1.5px solid #C4C4C4;
		box-sizing: border-box;
		padding: 10px;
		z-index: 10;
	}

	.burger__link {
		@extend .header__link;
	}
}

.hero {
	display: flex;

	.hero__nav-list {
		display: flex;
		position: relative;
		max-width: fit-content;
		justify-content: space-between;

		&::before {
			@extend %link-underline;

			height: 1px;
			width: 90%;
			background: $silver-light-color;
		}
	}

	.hero__nav-link {
		@extend %link-style;
		color: $silver-light-color;
		height: 32px;
		font-weight: 600;
		padding: 6px 12px;

		&:hover {
			color: $red-color;
		}

		&:hover::before {
			@extend %link-underline;
			width: 55%;
			height: 1px;
		}

		&--selected {
			color: $red-color;

			&::before {
				@extend %link-underline;
				width: 55%;
				height: 1px;
			}
		}

		&:active {
			transform: scale(.99);
		}
	}

	.hero__title {
		font-size: 4rem;
		font-weight: 700;
		color: $grey-light-color;
		line-height: 1.21;
	}

	.hero__subtitle {
		font-family: Inter;
		font-size: 1rem;
		line-height: 1.75;
		letter-spacing: 0.05em;
		color: $silver-color;
		max-width: 448px;
	}

	.hero__btns-container {
		display: flex;
		margin-top: 60px;
	}

	.hero__btn {
		@extend %btn-style;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 14px;
		font-size: .875rem;
		border-radius: 8px;
		white-space: nowrap;

		&--create-account {
			color: $primary-color;
			background-color: $red-color;
			margin-right: 24px;
		}

		&--choose-plan {
			color: $secondary-color;
			background-color: $primary-color;
			border: 1px solid $secondary-color;
		}
	}

	.hero__img {
		max-width: 50%;
		height: fit-content;
		margin-top: 16px;
	}
}


@media (max-width: 1240px) {
	.container {
		padding: 0 1%;
	}
}

@media (max-width: 920px) {

	.header {
		.header__list-item--small-screen {
			display: flex;
			flex-direction: row-reverse;
		}

		.header__list-item--big-screen {
			display: none;
		}

		.logo+.header__link {
			display: none;
		}

		.header__nav-list {
			padding: 0;
		}
	}
}

@media (max-width: 480px) {
	.header {
		.header__nav-list {
			flex-wrap: wrap;

			.header__list-item:last-of-type {
				margin: 0 auto;
				// border: 1px solid red !important;
			}
		}
	}

	.burger {
		.burger__menu {
			right: 0;
		}
	}

}