.logo {

	&:hover {
		filter: brightness(.9);
	}

	&:active {
		transform: scale(.99);
	}

	.logo__img {
		width: 92px;
		height: 60px;
	}
}

.phone-icon {
	margin-right: 8px;
}

.burger {
	position: relative;
	margin: 0 auto;

	.burger__btn {
		width: 60px;
		height: 60px;
		font-size: 2rem;
		background: $primary-color;
		cursor: pointer;

		i {
			vertical-align: middle;
		}

		&:hover {
			filter: brightness(.9);
		}

		&:active {
			transform: scale(.99);
		}
	}

	.burger__menu {
		display: flex;
		flex-direction: column;
		position: absolute;
		background: #FFFFFF;
		border: 1.5px solid #C4C4C4;
		box-sizing: border-box;
		padding: 10px;
		z-index: 10;
	}

	.burger__link {
		@extend .header__link;
	}
}

.hero {
	display: flex;

	.hero__nav-list {
		display: flex;
		position: relative;
		max-width: fit-content;
		justify-content: space-between;

		&::before {
			@extend %link-underline;

			height: 1px;
			width: 90%;
			background: $silver-light-color;
		}
	}

	.hero__nav-link {
		@extend %link-style;
		color: $silver-light-color;
		height: 32px;
		font-weight: 600;
		padding: 6px 12px;

		&:hover {
			color: $red-color;
		}

		&:hover::before {
			@extend %link-underline;
			width: 55%;
			height: 1px;
		}

		&--selected {
			color: $red-color;

			&::before {
				@extend %link-underline;
				width: 55%;
				height: 1px;
			}
		}

		&:active {
			transform: scale(.99);
		}
	}

	.hero__title {
		font-size: 4rem;
		font-weight: 700;
		color: $grey-light-color;
		line-height: 1.21;
	}

	.hero__subtitle {
		font-family: $font-family-secondary;
		font-size: 1rem;
		line-height: 1.75;
		letter-spacing: 0.05em;
		color: $silver-color;
		max-width: 448px;
	}

	.hero__btns-container {
		display: flex;
		margin-top: 60px;
	}

	.hero__btn {
		@extend %btn-style;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 14px;
		font-size: .875rem;
		border-radius: 8px;
		white-space: nowrap;

		&--create-account {
			color: $primary-color;
			background-color: $red-color;
			margin-right: 24px;
		}

		&--choose-plan {
			color: $secondary-color;
			background-color: $primary-color;
			border: 1px solid $secondary-color;
		}
	}

	.hero__img {
		max-width: 50%;
		height: fit-content;
		margin-top: 16px;
	}
}

.why-us {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.why-us__text-block {
		font-family: $font-family-secondary;
		color: $grey-color;
		width: 45%;
	}

	.why-us__title {
		font-size: 3rem;
		margin-bottom: 20px;
	}

	.why-us__description {
		font-size: 1.125rem;
		line-height: 1.78;
	}

	.why-us__technologies {
		width: 45%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.why-us__tech {
			width: 172px;
			height: fit-content;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.why-us__benefits {
		display: flex;
		flex-wrap: wrap;
		margin-top: 50px;
	}

	.why-us__card {
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 272px;
		width: 25%;
		padding: 10px;
		text-align: center;

		.why-us__card-img {
			max-width: 100px;
			margin-bottom: 17px;
		}

		.why-us__card-title {
			margin-bottom: 7px;
			font-weight: 700;
			font-size: 1.25rem;
		}

		.why-us__card-text {
			font-size: .75rem;
			font-weight: 300;
			line-height: 1.5;
		}
	}
}

.pricing {
	.pricing__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}

	.pricing__title {
		font-size: 3.125rem;
		line-height: 1.2;
		font-weight: 600;
		max-width: 650px;
		text-align: center;
		margin-bottom: 30px;
	}

	.pricing__subtitle {
		font-size: 1.5rem;
		text-align: center;
		margin-bottom: 40px;
	}

	.pricing__payment-period {
		margin-bottom: 60px;
	}

	.pricing__payment-period-label {
		font-size: 1.5rem;
		cursor: pointer;
	}

	.pricing__discount {
		font-size: .625rem;
		background-color: $yellow-color;
		vertical-align: middle;
		padding: 7px 8px;
		border-radius: 8px;
	}

	.pricing__payment-type {
		display: flex;
		justify-content: space-evenly;
		width: 80%;
		position: relative;

		&::before {
			@extend %link-underline;
			width: 100%;
			background-color: $silver-medium-color;
		}

		.pricing__payment-type-label {
			position: relative;
			display: inline-block;
			width: 49%;
			text-align: center;
			font-size: 1.875rem;
			cursor: pointer;

			&:hover::before {
				@extend %link-underline;
				width: 100%;
			}

			&:active {
				transform: scale(.99);
			}
		}

		.pricing__package-type-option {
			appearance: none;
			width: 1px;
			height: 1px;
		}
	}


	.pricing__fee-options {
		display: flex;
	}
}

.toggle-btn {
	cursor: pointer;
}

@media (max-width: 1240px) {
	.container {
		padding: 0 1%;
	}
}

@media (max-width: 920px) {

	.header {
		.header__list-item--small-screen {
			display: flex;
			flex-direction: row-reverse;
		}

		.header__list-item--big-screen {
			display: none;
		}

		.logo+.header__link {
			display: none;
		}

		.header__nav-list {
			padding: 0;
		}
	}
}

@media (max-width: 480px) {
	.header {
		.header__nav-list {
			flex-wrap: wrap;

			.header__list-item:last-of-type {
				margin: 0 auto;
				// border: 1px solid red !important;
			}
		}
	}

	.burger {
		.burger__menu {
			right: 0;
		}
	}

}