$font-family-primary: "Poppins",
sans-serif;
$font-family-secondary: "Inter",
sans-serif;

$primary-color: #fff;
$secondary-color: #000;
$grey-light-color: #2E2E2E;
$grey-color: #18191F;
$silver-color: #808080;
$red-color: #B00000;