@mixin font-face($family, $weight, $path, $style: normal) {
	@font-face {
		font-family: $family;
		font-style: $style;
		font-weight: $weight;
		src: url($path);
	}
}

// Poppins font-family
@include font-face("Poppins", 300, "../fonts/Poppins/Poppins-Light.ttf");
@include font-face("Poppins", 400, "../fonts/Poppins/Poppins-Regular.ttf");
@include font-face("Poppins", 500, "../fonts/Poppins/Poppins-Medium.ttf");
@include font-face("Poppins", 600, "../fonts/Poppins/Poppins-SemiBold.ttf");
@include font-face("Poppins", 700, "../fonts/Poppins/Poppins-Bold.ttf");

// Inter font-family
@include font-face("Inter", 400, "../fonts/Inter/Inter-Regular.ttf");
@include font-face("Inter", 500, "../fonts/Inter/Inter-Medium.ttf");
@include font-face("Inter", 700, "../fonts/Inter/Inter-Bold.ttf");
@include font-face("Inter", 800, "../fonts/Inter/Inter-ExtraBold.ttf");