:root {
	font-size: 16px;
	font-family: $font-family-primary;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1215px;
	margin: 0 auto;
}

.d-none {
	display: none !important;
}

.header {
	padding: 10px 0;
	min-height: 60px;

	.header__navigation {
		display: flex;
		align-items: center;
	}

	.header__nav-list {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-right: 5%;
		font-weight: 600;
	}

	.header__list-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 65px;
		min-width: 25%;
		white-space: nowrap;
	}

	.header__list-item--small-screen {
		display: none;
	}

	.header__link {
		@extend %link-style;
		color: $secondary-color;

		&:hover::before {
			@extend %link-underline;
		}
	}

	.header__link--border-rigth {
		border-right: 1px solid $silver-light-color;
	}

	.header__link--selected::before {
		@extend %link-underline;
	}
}

.main {
	flex: 1;

	.main__section {
		padding: 40px 0;
	}
}

.footer {
	font-family: $font-family-secondary;
	color: $primary-color;
	padding: 64px 20px 80px;
	min-height: 80px;
	background: $red-color;

	.footer__about-company {
		max-width: 296px;
	}

	.footer__about-company-text {
		line-height: 2;
	}

	.footer__logo {
		display: block;
		margin-bottom: 16px;
	}

	.footer__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		color: $primary-color--dark;
		margin-bottom: 96px;
	}

	.footer__links-block {
		display: flex;
		flex-direction: column;
		padding: 8px;
		margin-top: 16px;
	}

	.footer__links-block-header {
		font-size: 1rem;
	}

	.footer__link {
		margin-top: 35px;
	}
}