@media (max-width: 1240px) {
	.container {
		padding: 0 1%;
	}
}

@media (max-width: 920px) {

	.header {
		.header__list-item--small-screen {
			display: flex;
			flex-direction: row-reverse;
		}

		.header__list-item--big-screen {
			display: none;
		}

		.logo+.header__link {
			display: none;
		}

		.header__nav-list {
			padding: 0;
		}
	}

	.hero {
		.hero__title {
			font-size: 3rem;
		}
	}

	.pricing {
		.pricing__title {
			font-size: 3rem;
		}

		.pricing__card {
			width: 52%;
			max-width: none;
			min-width: 300px;
			margin: 15px auto;
		}
	}

	.testimonials {

		.testimonials__header {

			&--first {
				width: 75%;
			}

			&--second {
				width: 100%;
				margin: 15px auto;
			}
		}

		.testimonials__users-feedback {
			max-height: none;
		}

		.testimonials__card {
			max-width: none;
			width: 75%;

			&--second {
				margin-top: 15px;
			}

			&--third {
				margin-left: auto;
			}
		}

		.testimonials__clients-logotypes {
			width: 100%;
			margin: 0 auto;
		}

	}

	.call-to-action {
		.call-to-action__title {
			font-size: 3rem;
		}
	}

	.footer {
		.footer__about-company {
			width: 100%;
			display: flex;
			max-width: none;

			.footer__about-company-text {
				margin: 0 auto;
				padding: 0 5%;
			}
		}

		.footer__content {
			justify-content: space-evenly;
		}
	}
}

@media (max-width: 720px) {
	.hero {

		.hero__title {
			font-size: 2.5rem;
			max-width: 470px;
		}

		.hero__subtitle {
			padding-bottom: 0;
		}

		.hero__content {
			max-width: 90%;
			margin-left: 5%;
		}

		.hero__btns-container {
			margin-top: 40px;
		}

		.hero__img {
			display: none;
		}
	}

	.pricing {
		.pricing__title {
			font-size: 2.5rem;
		}
	}

	.why-us {

		.why-us__title {
			font-size: 2.5rem;
		}

		.why-us__text-block {
			width: 90%;
			margin: 0 auto;
		}

		.why-us__technologies {
			width: 100%;
			justify-content: space-around;
			margin-top: 30px;

			.why-us__tech {
				width: 50%;
				height: 70px;
			}
		}

		.why-us__card {
			width: 50%;
		}
	}

	.call-to-action {
		.call-to-action__title {
			font-size: 2.5rem;
		}
	}

	.footer {
		.footer__links-block {
			width: 35%;
		}
	}
}

@media (max-width: 480px) {
	.header {

		.header__navigation {
			min-height: min-content;
		}

		.header__nav-list {
			flex-wrap: wrap;

			.header__list-item:last-of-type {
				margin: 0;
			}
		}

		.phone-icon {
			height: 32px;
		}

		.header__phone-number {
			display: none;
		}
	}

	.burger {
		.burger__menu {
			top: 62px;
		}
	}

	.hero {

		.hero__btns-container {
			max-width: 280px;
		}

		.hero__btn {
			font-size: .7rem;
			padding: 15px 10px;
		}
	}

	.why-us {
		.why-us__tech-img {
			width: 120px;
		}
	}

	.pricing {
		.pricing__payment-period-option-container {
			width: 50%;
		}

		.toggle-btn {
			position: relative;
			top: 25px;
			transform: rotate(90deg);
		}
	}

	.testimonials {
		.testimonials__header {
			width: 90%;
			margin: 0 auto;

			&--first {
				&::before {
					left: -10px;
					top: -32px;
					width: 100px;
					height: 85px;
				}
			}

			.testimonials__title {
				font-size: 2.5rem;
			}
		}


		.testimonials__card {
			width: 95%;
			margin: 0;
			padding: 16px 16px 16px 40px;
			box-shadow: none;
		}

	}

	.call-to-action {
		.call-to-action__bg-img {
			transform: scale(.7);
		}

		.call-to-action__content {
			padding: 50px 10%;
			min-height: 350px;
		}

		.call-to-action__title {
			font-size: 2rem;
		}
	}

	.footer {
		padding: 64px 0px 40px;

		.footer__about-company {
			flex-wrap: wrap;
		}

		.footer__links-block {
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;

			.footer__links-block-header {
				width: 100%;
			}

			.footer__link {
				width: 50%;
			}
		}
	}
}