@import url(../libraries/normalize.css);
@import url(../libraries/fontawesome/css/all.min.css);
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Inter/Inter-ExtraBold.ttf");
}

.header .header__link, .header .burger .burger__link, .burger .header .burger__link, .hero .hero__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 25px;
  position: relative;
}

.header .header__link:active, .header .burger .burger__link:active, .burger .header .burger__link:active, .hero .hero__nav-link:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.header .header__link:hover::before, .header .burger .burger__link:hover::before, .burger .header .burger__link:hover::before, .header .header__link--selected::before, .hero .hero__nav-list::before, .hero .hero__nav-link:hover::before, .hero .hero__nav-link--selected::before, .pricing .pricing__payment-type::before, .pricing .pricing__payment-type .pricing__payment-type-label:hover::before, .pricing .pricing__payment-type .pricing__payment-type-label--selected::before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 75%;
  background: #B00000;
  bottom: 0;
}

.hero .hero__btn, .pricing .pricing__card-btn, .call-to-action .call-to-action__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 14px;
  font-size: .875rem;
  border-radius: 8px;
  white-space: nowrap;
  background-color: #fff;
}

.hero .hero__btn:active, .pricing .pricing__card-btn:active, .call-to-action .call-to-action__btn:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.hero .hero__btn:hover, .pricing .pricing__card-btn:hover, .call-to-action .call-to-action__btn:hover {
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1215px;
  margin: 0 auto;
}

.d-none {
  display: none !important;
}

.header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 16px 0px #DAD8D8;
          box-shadow: 0px 0px 16px 0px #DAD8D8;
}

.header .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.header .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-right: 5%;
  font-weight: 600;
}

.header .header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  min-width: 25%;
  white-space: nowrap;
}

.header .header__list-item--small-screen {
  display: none;
}

.header .header__link, .header .burger .burger__link, .burger .header .burger__link {
  color: #000;
}

.header .header__link--border-rigth {
  border-right: 1px solid #DAD8D8;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 80px;
}

.main .main__section {
  padding: 40px 0;
}

.footer {
  font-family: "Inter", sans-serif;
  color: #fff;
  padding: 64px 20px 80px;
  min-height: 80px;
  background: #B00000;
}

.footer .footer__about-company {
  max-width: 296px;
}

.footer .footer__about-company-text {
  line-height: 2;
}

.footer .footer__logo {
  display: block;
  margin-bottom: 16px;
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #e6e6e6;
  margin-bottom: 96px;
}

.footer .footer__links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  margin-top: 16px;
}

.footer .footer__links-block-header {
  font-size: 1rem;
}

.footer .footer__link {
  margin-top: 35px;
}

.logo:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.logo:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.logo .logo__img {
  width: 92px;
  height: 60px;
}

.phone-icon {
  margin-right: 8px;
}

.burger {
  position: relative;
  margin: 0 auto;
}

.burger .burger__btn {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  background: #fff;
  cursor: pointer;
}

.burger .burger__btn i {
  vertical-align: middle;
}

.burger .burger__btn:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.burger .burger__btn:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.burger .burger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #FFFFFF;
  border: 1.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  z-index: 10;
}

.burger .burger__link {
  padding: 12px 25px !important;
}

.hero {
  position: relative;
}

.hero .hero__slides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hero .hero__slide {
  min-width: 100%;
  display: none;
}

.hero .hero__slide--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero__slide--domain {
  background-color: rgba(241, 116, 116, 0.1);
}

.hero .hero__slide--seo {
  background-color: rgba(172, 250, 127, 0.1);
}

.hero .hero__slide--email {
  background-color: rgba(129, 138, 252, 0.1);
}

.hero .hero__navigation {
  position: absolute;
}

.hero .hero__content {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero__nav-list::before {
  height: 1px;
  width: 90%;
  background: #DAD8D8;
}

.hero .hero__nav-link {
  color: #DAD8D8;
  height: 32px;
  font-weight: 600;
  padding: 6px 12px;
}

.hero .hero__nav-link:hover {
  color: #B00000;
}

.hero .hero__nav-link:hover::before {
  width: 55%;
  height: 1px;
}

.hero .hero__nav-link--selected {
  color: #B00000;
}

.hero .hero__nav-link--selected::before {
  width: 55%;
  height: 1px;
}

.hero .hero__nav-link:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.hero .hero__title {
  font-size: 4rem;
  font-weight: 700;
  color: #2E2E2E;
  line-height: 1.21;
  padding-top: 20px;
}

.hero .hero__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: #808080;
  max-width: 448px;
  padding-bottom: 40px;
}

.hero .hero__btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 340px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero__btn--create-account {
  color: #fff;
  background-color: #B00000;
  -webkit-box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
          box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
  margin-right: 24px;
}

.hero .hero__btn--choose-plan {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.hero .hero__img {
  max-width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 75vh;
  margin-top: 16px;
}

.why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-us .why-us__text-block {
  font-family: "Inter", sans-serif;
  color: #18191F;
  width: 45%;
}

.why-us .why-us__title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.why-us .why-us__description {
  font-size: 1.125rem;
  line-height: 1.78;
}

.why-us .why-us__technologies {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-us .why-us__technologies .why-us__tech {
  width: 172px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-us .why-us__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.why-us .why-us__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 272px;
  width: 25%;
  padding: 10px;
  text-align: center;
}

.why-us .why-us__card .why-us__card-img {
  max-width: 100px;
  margin-bottom: 17px;
}

.why-us .why-us__card .why-us__card-title {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 1.25rem;
}

.why-us .why-us__card .why-us__card-text {
  font-size: .75rem;
  font-weight: 300;
  line-height: 1.5;
}

.pricing .pricing__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.pricing .pricing__title {
  font-size: 3.125rem;
  line-height: 1.2;
  font-weight: 600;
  max-width: 650px;
  text-align: center;
  margin-bottom: 30px;
}

.pricing .pricing__subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.pricing .pricing__payment-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.pricing .pricing__payment-period-label {
  font-size: 1.5rem;
  cursor: pointer;
}

.pricing .pricing__payment-period-option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pricing .pricing__payment-period-option:checked + label {
  color: #B00000;
}

.pricing .pricing__discount {
  font-size: .625rem;
  background-color: #FFE87A;
  vertical-align: middle;
  padding: 7px 8px;
  border-radius: 8px;
  white-space: nowrap;
}

.pricing .pricing__payment-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  position: relative;
}

.pricing .pricing__payment-type::before {
  height: 4px;
  width: 100%;
  background-color: #C4C4C4;
}

.pricing .pricing__payment-type .pricing__payment-type-label {
  position: relative;
  display: inline-block;
  width: 49%;
  text-align: center;
  font-size: 1.875rem;
  cursor: pointer;
}

.pricing .pricing__payment-type .pricing__payment-type-label:hover::before {
  height: 4px;
  width: 100%;
}

.pricing .pricing__payment-type .pricing__payment-type-label:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.pricing .pricing__payment-type .pricing__payment-type-label--selected {
  color: #B00000;
}

.pricing .pricing__payment-type .pricing__payment-type-label--selected::before {
  height: 4px;
  width: 100%;
}

.pricing .pricing__payment-type .pricing__package-type-option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pricing .pricing__fee-options-container {
  display: none;
}

.pricing .pricing__fee-options-container--selected {
  display: block;
}

.pricing .pricing__fee-options {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing .pricing__fee-options--selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing .pricing__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  width: 30%;
  min-height: 716px;
  padding: 30px 25px;
  border: 1.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 10px;
}

.pricing .pricing__card-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.pricing .pricing__card-description {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.pricing .pricing__card-price {
  font-size: 2.625rem;
  font-weight: 600;
  margin-bottom: 35px;
}

.pricing .pricing__card-price span {
  display: block;
  font-size: .875rem;
}

.pricing .pricing__card-btn {
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  margin-bottom: 35px;
}

.pricing .pricing__card-benefit {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #808080;
  margin: 12px 0;
  padding-left: 50px;
  position: relative;
}

.pricing .pricing__card-benefit::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  left: 5px;
}

.testimonials {
  position: relative;
  font-family: "Inter", sans-serif;
}

.testimonials .testimonials__users-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 800px;
}

.testimonials .testimonials__header {
  position: relative;
  margin: 15px 15px 15px 0;
  color: #18191F;
  max-width: 445px;
}

.testimonials .testimonials__header .testimonials__title {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.33;
  margin-bottom: 15px;
}

.testimonials .testimonials__header .testimonials__subtitle {
  font-size: 1.125rem;
  line-height: 1.78;
}

.testimonials .testimonials__header--first {
  margin-left: 100px;
  width: 40%;
}

.testimonials .testimonials__header--first::before {
  display: block;
  content: "";
  width: 142px;
  height: 120px;
  background-image: url(../img/big-red-quote-mark.png);
  background-size: cover;
  position: absolute;
  left: -95px;
  top: -57px;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.testimonials .testimonials__card {
  max-width: 445px;
  padding: 32px 32px 32px 64px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
          box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  margin: 15px;
  width: 38%;
}

.testimonials .testimonials__card--first {
  margin-left: auto;
}

.testimonials .testimonials__card--second {
  margin-top: 60px;
}

.testimonials .testimonials__card--third {
  max-width: 350px;
}

.testimonials .testimonials__card-text {
  position: relative;
  line-height: 2;
  margin-bottom: 24px;
}

.testimonials .testimonials__card-text::before {
  display: block;
  content: "";
  width: 16px;
  height: 14px;
  background-image: url(../img/small-aqua-quote-mark.png);
  background-size: cover;
  position: absolute;
  left: -30px;
}

.testimonials .testimonials__card-author {
  font-weight: 700;
  font-size: 1.125rem;
  color: #18191F;
}

.testimonials .testimonials__card-author span {
  display: block;
  color: #969BAB;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 5px;
}

.testimonials .testimonials__our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 70px;
}

.testimonials .testimonials__clients-logotypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 48%;
  max-width: 580px;
}

.testimonials .testimonials__clients-logotypes .client-logo {
  max-width: 120px;
  margin-left: 64px;
}

.call-to-action {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-to-action .call-to-action__bg-img {
  position: absolute;
}

.call-to-action .call-to-action__bg-img--top {
  top: 40px;
  left: 33%;
}

.call-to-action .call-to-action__bg-img--left {
  top: 70%;
  left: 5px;
}

.call-to-action .call-to-action__bg-img--right {
  top: 70%;
  right: 5px;
}

.call-to-action .call-to-action__content {
  padding: 90px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 96%;
  min-height: 432px;
  background-color: #F7FAFE;
  border-radius: 16px;
}

.call-to-action .call-to-action__title {
  font-size: 4rem;
  text-align: center;
  line-height: 1.37;
}

.call-to-action .call-to-action__btn {
  position: relative;
  font-size: 0.875rem;
  height: 48px;
  padding: 2px 16px 2px 50px;
  color: #fff;
  background-color: #B00000;
}

.call-to-action .call-to-action__btn::before {
  display: block;
  content: '';
  width: 22px;
  height: 22px;
  background-image: url(../img/phone-in-speach-balloon.png);
  background-size: cover;
  position: absolute;
  left: 18px;
}

.toggle-btn {
  position: relative;
  cursor: pointer;
  min-width: 93px;
  height: 50px;
  margin: 0 15px;
  background-color: #B00000;
  border-radius: 73px;
  border: none;
}

.toggle-btn:focus {
  outline: 2px solid #969BAB;
}

.toggle-btn:hover {
  -webkit-box-shadow: 0 0 10px 0px #B00000;
          box-shadow: 0 0 10px 0px #B00000;
}

.toggle-btn::before {
  display: block;
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  left: 10px;
  top: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.toggle-btn--on::before {
  left: 53px;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 1%;
  }
}

@media (max-width: 920px) {
  .header .header__list-item--small-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header .header__list-item--big-screen {
    display: none;
  }
  .header .logo + .header__link, .header .burger .logo + .burger__link, .burger .header .logo + .burger__link {
    display: none;
  }
  .header .header__nav-list {
    padding: 0;
  }
  .hero .hero__title {
    font-size: 3rem;
  }
  .pricing .pricing__card {
    width: 52%;
    max-width: none;
    min-width: 300px;
    margin: 15px auto;
  }
  .testimonials .testimonials__header--first {
    width: 75%;
  }
  .testimonials .testimonials__header--second {
    width: 100%;
    margin: 15px auto;
  }
  .testimonials .testimonials__users-feedback {
    max-height: none;
  }
  .testimonials .testimonials__card {
    max-width: none;
    width: 75%;
  }
  .testimonials .testimonials__card--second {
    margin-top: 15px;
  }
  .testimonials .testimonials__card--third {
    margin-left: auto;
  }
  .testimonials .testimonials__clients-logotypes {
    width: 100%;
    margin: 0 auto;
  }
  .call-to-action .call-to-action__title {
    font-size: 3rem;
  }
}

@media (max-width: 720px) {
  .hero .hero__title {
    font-size: 2.5rem;
    max-width: 470px;
  }
  .hero .hero__content {
    max-width: 90%;
    margin: 0 auto;
  }
  .hero .hero__btns-container {
    margin-top: 40px;
  }
  .hero .hero__img {
    display: none;
  }
  .why-us .why-us__text-block {
    width: 100%;
  }
  .why-us .why-us__technologies {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 30px;
  }
  .why-us .why-us__technologies .why-us__tech {
    width: 50%;
    height: 70px;
  }
  .why-us .why-us__card {
    width: 50%;
  }
  .call-to-action .call-to-action__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .header .header__nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header__nav-list .header__list-item:last-of-type {
    margin: 0;
  }
  .header .phone-icon {
    height: 32px;
  }
  .header .header__phone-number {
    display: none;
  }
  .burger .burger__menu {
    right: 0;
  }
  .hero .hero__btns-container {
    max-width: 280px;
  }
  .hero .hero__btn {
    font-size: .7rem;
    padding: 15px 10px;
  }
  .pricing .pricing__payment-period-option-container {
    width: 50%;
  }
  .pricing .toggle-btn {
    position: relative;
    top: 25px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .testimonials .testimonials__header--first {
    width: 100%;
    margin-left: 0;
  }
  .testimonials .testimonials__header--first::before {
    left: 0;
  }
  .testimonials .testimonials__header .testimonials__title {
    font-size: 2.5rem;
  }
  .testimonials .testimonials__card {
    width: 95%;
    margin: 15px 0;
  }
  .call-to-action .call-to-action__bg-img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .call-to-action .call-to-action__content {
    padding: 50px 10%;
    min-height: 350px;
  }
  .call-to-action .call-to-action__title {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */